    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    html {
        font-family: sans-serif;
    }
    
    *:focus {
        outline: none;
    }
    
    body {
        min-width: 300px;
        /* remove hight */
        /* height: 5000px; */
    }
    
    nav img {
        height: 34px;
    }
    
    .navbar {
        display: flex;
        /* flex-wrap: wrap; */
        padding: 10px 43px 10px 26px;
        /* background-color: bisque; */
        align-items: center;
        min-height: 0;
        height: 72px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
        align-content: center;
        position: relative;
        z-index: 1;
    }
    
    .logo {
        padding-right: 8px;
    }
    /* .logo img {
        height: 34px;
        width: 91;
    } */
    
    .categories {
        /* display: flex; */
        /* padding: 10px; */
        /* margin: 10px; */
        /* font-size: 18px; */
        width: 129px;
        text-align: center;
    }
    
    .search {
        border-style: solid;
        height: 46px;
        /* justify-content: end; */
        display: flex;
        align-items: center;
        border-radius: 37px;
        padding: 0px 15px;
        border-width: 1px;
        flex-grow: 1;
        background-color: #f7f9fa;
        margin-left: 8px;
    }
    
    .search form {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 30px;
    }
    
    .search form input {
        flex-grow: 1;
        height: 30px;
        margin: 15px;
        border: none;
        background-color: transparent;
        /* font-size: 18px; */
    }
    
    .search form button {
        border-width: 1px;
        border: none;
        padding: 5px;
        border-radius: 13px;
        border-color: rgb(0 0 0 / 40%);
        background-color: transparent;
    }
    
    .search form button:hover {
        background-color: rgb(0 0 0 / 5%);
    }
    
    .search img {
        /* display: flex; */
        width: 15px;
        height: 15px;
        margin-right: 10px;
        opacity: 50%;
    }
    
    .nav-item {
        padding: 15px;
        text-align: center;
        font-size: 13px;
    }
    
    .nav-item a {
        text-decoration: none;
        color: black;
    }
    /* .nav-item a:hover {
        color: white;
    } */
    
    .nav-item:hover a {
        color: #401b9c;
    }
    
    .cart {
        margin: 12px;
    }
    
    .cart img {
        height: 24px;
        width: 24px;
    }
    
    .cart:hover img {
        color: blueviolet;
    }
    
    .nav-btn {
        border-style: solid;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        /* padding: 15px 25px; */
        margin-left: 8px;
        border-width: 1px;
        font-weight: bold;
        width: 80px;
        font-size: smaller;
    }
    
    .nav-btn a {
        text-decoration: none;
        color: black;
    }
    
    .nav-btn:hover {
        background-color: rgba(0, 0, 0, .04);
    }
    
    .black-nav-btn {
        background-color: #1c1d1f;
    }
    
    .black-nav-btn:hover {
        background-color: black;
    }
    
    .black-nav-btn a {
        color: white;
    }
    
    .nav-btn img {
        height: 15px;
        width: 15px;
        display: block;
    }
    
    .lang-icon {
        padding: 15px;
        width: 40px;
    }
    
    .search-small {
        display: none;
    }
    
    .menu {
        display: none;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .main {
        max-width: 1340px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .header {
        position: relative;
        margin-bottom: 48px;
    }
    
    .header img {
        /* position: relative; */
        max-width: 100%;
    }
    
    .headerbox {
        background-color: white;
        max-width: 392px;
        position: absolute;
        top: 64px;
        left: 72px;
        padding: 24px;
        box-sizing: unset;
        box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    }
    
    .headerbox h1 {
        padding-bottom: 12px;
    }
    
    .headerbox p {
        font-size: 19px;
    }
    
    .headerimg {
        overflow: hidden;
    }
    
    .courses {
        margin-bottom: 30px;
    }
    
    .courses-header {
        padding: 0 24px;
    }
    
    .courses-header-h1 {
        font-size: 32px;
        font-weight: bold;
    }
    
    .courses-header-msg {
        margin-top: 8px;
        font-size: 19px;
    }
    
    .topics {
        padding: 0 24px;
        display: flex;
        height: 48px;
        overflow: hidden;
    }
    
    .topic-btn {
        background-color: white;
        border-style: none;
        font-size: 17px;
        font-weight: 700;
        color: #6a6f73;
        margin-right: 16px;
        min-width: fit-content;
    }
    
    .topic-btn:hover {
        color: black;
    }
    
    .topic-btn-active {
        color: black;
    }
    
    .courses-content {
        padding: 32px;
        border-width: 1px;
        border-style: solid;
        margin: 0 24px;
        border-color: #d1d7dc;
    }
    
    .courses-content-head h2 {
        margin-bottom: 8px;
    }
    
    .courses-content-head p {
        max-width: 800px;
        margin-bottom: 16px;
    }
    
    .courses-content-head {
        margin-bottom: 32px;
    }
    
    .gnrl-btn {
        text-decoration: none;
        border-style: solid;
        border-width: 1px;
        padding: 10px;
        display: inline-block;
        /* margin-top: 10px; */
        color: black;
        font-size: 14px;
        font-weight: 700;
    }
    
    .gnrl-btn:hover {
        background-color: rgba(0, 0, 0, .04);
    }
    
    .courses-list {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    
    .course-item {
        width: 232px;
        height: 283px;
        display: inline-flex;
        flex-direction: column;
        cursor: pointer;
    }
    
    .course-item h3 {
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 4px;
        min-height: 38px;
        max-height: 38px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .author {
        font-size: 12px;
        color: #1c1d1f;
        margin-bottom: 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        min-height: 16.8px;
    }
    
    .star img {
        height: 14px;
    }
    /* .course-img {
        height: 130.725px;
        width: 230.4px;
    } */
    
    .rating {
        display: flex;
        margin-bottom: 4px;
    }
    
    .rating-score {
        color: #b4690e;
        font-weight: 700;
        margin-right: 4px;
        font-size: 14px;
    }
    
    .rating-n {
        margin-left: 4px;
        font-size: 12px;
        color: #6a6f73;
    }
    
    .price {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 8px;
    }
    
    .bestseller {
        background-color: #eceb98;
        color: #3d3c0a;
        padding: 4px 8px;
        display: inline-block;
        width: fit-content;
        font-size: 12px;
        font-weight: 700;
        margin-top: 8px;
        margin-bottom: 4px;
    }
    
    footer {
        /* height: 293.2px; */
        background-color: #1c1d1f;
    }
    
    footer a {
        color: white;
        text-decoration: none;
        font-size: 14px;
    }
    
    footer a:hover {
        text-decoration: underline;
    }
    
    footer button img {
        height: 16.67px;
        filter: invert(1);
        margin-right: 4px;
    }
    
    footer button {
        font-size: 16px;
        border-color: #fff;
        color: #fff;
        background-color: transparent;
        margin-left: auto;
        height: 38px;
        display: flex;
        padding: 0 16px;
        align-items: center;
        min-width: 140px;
    }
    
    footer button:hover {
        background-color: rgba(255, 255, 255, .08);
    }
    
    .footer-cnt {
        display: flex;
        padding: 24px 48px 0 48px;
    }
    
    .footer-cnt ul {
        display: inline-flex;
        flex-direction: column;
        list-style: none;
        width: 256px;
    }
    
    .footer-cnt li {
        /* padding-left: 0; */
        padding: 4px 0;
    }
    
    .footer-crd img {
        height: 34.2px;
        margin-right: auto;
    }
    
    .lang-btn {
        margin-left: auto;
    }
    
    .footer-crd {
        padding: 64px 48px 32px 48px;
        display: flex;
        color: white;
        font-size: 12px;
        align-items: center;
        justify-content: flex-end;
    }
    
    @media screen and (min-width: 600px) {
        .course-item {
            width: calc((100% - (2 - 1) * 1.6rem)/2);
        }
    }
    
    @media screen and (min-width: 700px) {
        .course-item {
            width: calc((100% - (3 - 1) * 1.6rem)/3);
        }
    }
    
    @media screen and (min-width: 970px) {
        .course-item {
            width: calc((100% - (4 - 1) * 1.6rem)/4);
        }
    }
    
    @media screen and (min-width: 1200px) {
        .course-item {
            width: calc((100% - (5 - 1) * 1.6rem)/5);
        }
    }
    
    @media screen and (max-width: 1120px) {
        .business {
            display: none;
        }
        .headerbox {
            max-width: 352px;
            top: 24px;
            left: 48px;
        }
    }
    
    @media screen and (max-width: 987px) {
        .teach {
            display: none;
        }
        .headerbox {
            max-width: 292px;
            top: 24px;
            left: 48px;
        }
        .courses-header-h1 {
            font-size: 26px;
        }
    }
    
    @media screen and (max-width: 870px) {
        .nav-item {
            display: none;
        }
        .nav-btn {
            display: none;
        }
        .search {
            display: none;
        }
        .cart {
            order: 1;
        }
        .lang-icon {
            display: none;
        }
        .search-small {
            display: inline-flex;
            margin: 10px;
            margin-left: auto;
        }
        .search-small img {
            height: 20px;
        }
        .navbar {
            padding: 10px;
        }
        .menu {
            margin-right: 50px;
            display: inline-flex;
        }
        .menu img {
            width: 26px;
            height: 24px;
        }
        .logo {
            margin-left: auto;
        }
        .logo img {
            width: 75px;
        }
        .headerbox {
            max-width: none;
            position: unset;
            box-shadow: none;
        }
        .headerbox h1 {
            font-size: 26px;
        }
        .header {
            margin-bottom: 24px;
        }
    }
    
    @media screen and (max-width: 700px) {
        .footer-cnt {
            flex-direction: column;
            padding-left: 24px;
            padding-right: 24px;
        }
        .lang-btn {
            order: -1;
            margin-right: auto;
            margin-left: unset;
            padding-top: 24px;
            padding-bottom: 24px;
        }
        .footer-crd {
            flex-direction: column;
            padding-top: 32px;
            padding-bottom: 32px;
            padding-left: 24px;
            padding-right: 24px;
        }
        .footer-crd p {
            margin-right: auto;
        }
        .footer-crd img {
            margin-bottom: 16px;
        }
    }
    
    @media screen and (max-width: 600px) {
        .courses-header {
            display: none;
        }
        .courses-content-head {
            display: none;
        }
        .courses-list {
            justify-content: center;
        }
    }