    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    html {
        font-family: sans-serif;
    }
    
    *:focus {
        outline: none;
    }
    
    .body {
        min-width: 300px;
    }
    
    nav img {
        height: 34px;
    }
    
    .navbar {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 43px 10px 26px;
        /* background-color: bisque; */
        align-items: center;
        min-height: 0;
        height: 72px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
        align-content: center;
        position: relative;
        z-index: 1;
    }
    
    .logo {
        padding-right: 8px;
    }
    /* .logo img {
        height: 34px;
        width: 91;
    } */
    
    .categories {
        /* display: flex; */
        /* padding: 10px; */
        /* margin: 10px; */
        /* font-size: 18px; */
        width: 129px;
        text-align: center;
    }
    
    .search {
        border-style: solid;
        height: 46px;
        /* justify-content: end; */
        display: flex;
        align-items: center;
        border-radius: 37px;
        padding: 0px 15px;
        border-width: 1px;
        flex-grow: 1;
        background-color: #f7f9fa;
        margin-left: 8px;
    }
    
    .search form {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 30px;
    }
    
    .search form input {
        flex-grow: 1;
        height: 30px;
        margin: 15px;
        border: none;
        background-color: transparent;
        /* font-size: 18px; */
    }
    
    .search form button {
        border-width: 1px;
        border: none;
        padding: 5px;
        border-radius: 13px;
        border-color: rgb(0 0 0 / 40%);
        background-color: transparent;
    }
    
    .search form button:hover {
        background-color: rgb(0 0 0 / 5%);
    }
    
    .search img {
        /* display: flex; */
        width: 15px;
        height: 15px;
        margin-right: 10px;
        opacity: 50%;
    }
    
    .nav-item {
        padding: 15px;
        text-align: center;
        font-size: 13px;
    }
    
    .nav-item a {
        text-decoration: none;
        color: black;
    }
    /* .nav-item a:hover {
        color: white;
    } */
    
    .nav-item:hover a {
        color: #401b9c;
    }
    
    .cart {
        margin: 12px;
    }
    
    .cart img {
        height: 24px;
        width: 24px;
    }
    
    .cart:hover img {
        color: blueviolet;
    }
    
    .nav-btn {
        border-style: solid;
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        /* padding: 15px 25px; */
        margin-left: 8px;
        border-width: 1px;
        font-weight: bold;
        width: 80px;
        font-size: smaller;
    }
    
    .nav-btn a {
        text-decoration: none;
        color: black;
    }
    
    .nav-btn:hover {
        background-color: rgba(0, 0, 0, .04);
    }
    
    .black-nav-btn {
        background-color: #1c1d1f;
    }
    
    .black-nav-btn:hover {
        background-color: black;
    }
    
    .black-nav-btn a {
        color: white;
    }
    
    .nav-btn img {
        height: 15px;
        width: 15px;
        display: block;
    }
    
    .lang-icon {
        padding: 15px;
        width: 40px;
    }
    
    .search-small {
        display: none;
    }
    
    .menu {
        display: none;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .main {
        max-width: 1340px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .header {
        position: relative;
    }
    
    .header img {
        /* position: relative; */
        max-width: 100%;
    }
    
    .headerbox {
        background-color: white;
        max-width: 392px;
        position: absolute;
        top: 64px;
        left: 72px;
        padding: 24px;
        box-sizing: unset;
        box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    }
    
    .headerbox h1 {
        padding-bottom: 12px;
    }
    
    .headerbox p {
        font-size: 19px;
    }
    
    .headerimg {
        overflow: hidden;
    }
    
    @media screen and (max-width: 1100px) {
        .business {
            display: none;
        }
        .headerbox {
            max-width: 352px;
            top: 24px;
            left: 48px;
        }
    }
    
    @media screen and (max-width: 970px) {
        .teach {
            display: none;
        }
        .headerbox {
            max-width: 292px;
            top: 24px;
            left: 48px;
        }
    }
    
    @media screen and (max-width: 850px) {
        .nav-item {
            display: none;
        }
        .nav-btn {
            display: none;
        }
        .search {
            display: none;
        }
        .cart {
            order: 1;
        }
        .lang-icon {
            display: none;
        }
        .search-small {
            display: inline-flex;
            margin: 10px;
            margin-left: auto;
        }
        .search-small img {
            height: 20px;
        }
        .navbar {
            padding: 10px;
        }
        .menu {
            margin-right: 50px;
            display: inline-flex;
        }
        .menu img {
            width: 26px;
            height: 24px;
        }
        .logo {
            margin-left: auto;
        }
        .logo img {
            width: 75px;
        }
        .headerbox {
            max-width: none;
            position: unset;
        }
    }